:root {
  --main-bg-color: #000;
  --primary-color: #f6f6f6;
  --second-color: #22d4fd;
}

body {
  min-height: 100vh;
  font-family: "Krona One", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-bg-color);
}

body > .main-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 3.75rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 2.5rem;
}

/* Default Styles */
.h1 {
  color: var(--primary-color);
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.5rem; /* 155.556% */
}

.h3 {
  color: var(--primary-color);
  font-family: Krona One;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem; /* 166.667% */
}

.h4 {
  color: var(--primary-color);
  font-family: Montserrat;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.25rem; /* 150% */
}

.primary-color {
  color: var(--primary-color);
}

.secondary-color {
  color: var(--second-color);
}

.main-bg {
  background-color: var(--main-bg-color);
}

.primary-bg {
  background-color: var(--primary-color);
  color: var(--main-bg-color);
}

.secondary-bg {
  background-color: var(--second-color);
  color: var(--main-bg-color);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  min-width: 380px;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 2px solid var(--second-color);
  /* Text Deco */
  text-decoration: none;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.25rem; /* 150% */
}

.btn:hover {
  background-color: #272727;
}
/* End - Default Styles */

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.25rem;
  max-width: 42ch;
}

.wrapper__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

.wrapper__btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.main-footer {
  background-color: var(--second-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 100%;
}

.main-footer .h4 {
  color: var(--main-bg-color);
}

.main-header {
  width: 100%;
  padding: 4rem 0;
}

.main-header > nav {
  display: flex;
  gap: 5rem;
}

.main-header > nav a {
  text-decoration: none;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: var(--second-color);
}

.main-header > nav a:hover {
  color: var(--primary-color);
}

@media (max-width: 1024px) {
  body > .main-wrapper {
    align-items: center;
    margin: 2.5rem 0;
  }

  main {
    flex-direction: column-reverse;
    align-items: center;
  }

  .main-header {
    padding: 2rem 0;
  }

  img {
    width: 50%;
  }
}
