:root {
  --main-bg-color: #000;
  --main-color: #f6f6f6;
  --second-color: #22d4fd;
}

body {
  height: 100vh;
  font-family: "Krona One", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg-color);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.75rem;
}

h1 {
  color: var(--main-color);
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.5rem; /* 155.556% */
}

h4 {
  color: var(--main-color);
  font-family: Montserrat;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.25rem; /* 150% */
}

.secondary {
  color: var(--second-color);
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 120px;
  background-color: var(--second-color);
  color: var(--main-bg-color);
  width: min-content;
  padding: 1.5rem 3rem;
  border-radius: 1rem;
  text-decoration: none;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.25rem; /* 150% */
}

a:hover {
  background-color: #1b9db7;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.25rem;
  max-width: 42ch;
}

.info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
