:root {
  --main-bg-color: #000;
  --main-color: #f6f6f6;
  --second-color: #22d4fd;
}

body {
  min-height: 100vh;
  font-family: "Krona One", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg-color);
}

body > main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.75rem;
}

/* Default Styles */
h1 {
  color: var(--main-color);
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.5rem; /* 155.556% */
}

h4 {
  color: var(--main-color);
  font-family: Montserrat;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.25rem; /* 150% */
}

.primary-color {
  color: var(--main-color);
}

.secondary-color {
  color: var(--second-color);
}

.secondary-bg {
  background-color: var(--second-color);
  color: var(--main-bg-color);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 120px;
  width: min-content;
  padding: 1.5rem 3rem;
  border-radius: 1rem;
  text-decoration: none;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.25rem; /* 150% */
}

.secondary-bg.btn:hover {
  background-color: #1b9db7;
}
/* End - Default Styles */

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.25rem;
  max-width: 42ch;
}

.wrapper__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

.wrapper__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

@media (max-width: 1024px) {
  body > main {
    flex-direction: column-reverse;
    margin: 2.5rem 0;
  }

  img {
    width: 50%;
  }
}
